.descripcion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10%;
    margin-left: 17%;
}
.descripcion1{
    border: 2px solid white;
    width: 41%;
    margin-right: 4%;
}
.descripcion2{
    border: 2px solid white;
    width: 41%;
}
.titulo>h2{
    text-align: center;
    border: 2px solid white;
    background-color: darkgray;
}
section{
    color: white;
}