  <!--Titulo-->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"><h1>LA PAREJA DEL AÑO:</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-dark"><a href="#acerca">acerca de la pareja</a></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark"><a href="#lugar">Lugar que se conocieron</a></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark"><a href="#canciones">Canciones</a></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark"><a href="#enojos">Personalidad</a></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark"><a href="#citas">Citas</a></button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-dark"><a href="#proyectos">Proyectos</a></button>

          </li>
        </ul>
        <ul class="list">
          <a href="https://www.instagram.com/wa/" target="_blank"><li class="list-group-item"><img src="../../../assets/img/instagram.png" alt="instagram"> </li></a>
            <a href="https://www.instagram.com/mathias.diaaz/" target="_blank"><li class="list-group-item"><img src="../../../assets/img/instagram.png" alt="instagram"> </li></a>
            </ul>
      </div>
    </div>
  </nav>